<?xml version='1.0' encoding='utf-8'?>
<widget id="com.discom.surveypro" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DISCOM Pro</name>
    <description>Enterprise Survey App for DISCOM</description>
    <author email="admin@discom.com" href="http://discom.com">Suraj Singh Mehta</author>
    
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <!-- HARDWARE ACCELERATION ENABLED -->
    <preference name="AndroidXEnabled" value="true" />
    <preference name="android-hwaccel" value="true" />
    <preference name="CrosswalkAnimatable" value="true" />
    
    <icon src="res/icon.png" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>

    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-vibration" />
    <plugin name="cordova-plugin-android-permissions" />
</widget>
