<?xml version='1.0' encoding='utf-8'?>
<widget id="com.discom.pro" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DISCOM Pro</name>
    <description>DISCOM Field Survey App</description>
    <author email="admin@discom.com">Suraj Singh Mehta</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="android-minSdkVersion" value="24" />
</widget>
