<?xml version='1.0' encoding='utf-8'?>
<widget id="com.discom.surveypro" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>DISCOM Pro</name>
    <description>Enterprise Survey App for DISCOM</description>
    <author email="admin@discom.com" href="http://discom.com">Suraj Singh Mehta</author>
    
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <!-- Custom App Icon and Strict Splash Screen Images -->
    <icon src="res/icon.png" />
    
    <platform name="android">
        <!-- Force strict original splash usage across all densities -->
        <splash src="res/splash.png" density="port-hdpi"/>
        <splash src="res/splash.png" density="port-ldpi"/>
        <splash src="res/splash.png" density="port-mdpi"/>
        <splash src="res/splash.png" density="port-xhdpi"/>
        <allow-intent href="market:*" />
    </platform>
    
    <!-- Native Splash Screen Configuration -->
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="AndroidXEnabled" value="true" />

    <!-- Core Plugins needed for Export and UI -->
    <plugin name="cordova-plugin-splashscreen" spec="^6.0.0" />
    <plugin name="cordova-plugin-file" spec="^8.0.0" />
    <plugin name="cordova-plugin-geolocation" spec="^5.0.0" />
</widget>
